-- CreateEnum
CREATE TYPE "Incoterm" AS ENUM ('EXW', 'FOB', 'FCA');

-- CreateEnum
CREATE TYPE "Moneda" AS ENUM ('USD', 'EUR', 'PEN');

-- CreateEnum
CREATE TYPE "CosteoEstado" AS ENUM ('BORRADOR', 'TERMINADO');

-- CreateEnum
CREATE TYPE "ModalidadImportacion" AS ENUM ('AEREO', 'MARITIMO', 'MULTIMODAL');

-- CreateEnum
CREATE TYPE "LeadEstado" AS ENUM ('NUEVO_CONTACTO', 'CONTACTADO', 'COTIZANDO', 'CERRADO_GANADO', 'CERRADO_PERDIDO');

-- AlterEnum
BEGIN;
CREATE TYPE "CanalImportacion_new" AS ENUM ('VERDE', 'AMARILLO', 'ROJO', 'SIN_CANAL');
ALTER TABLE "CosteoImportacion" ALTER COLUMN "canal" TYPE "CanalImportacion_new" USING ("canal"::text::"CanalImportacion_new");
ALTER TABLE "Orden" ALTER COLUMN "canal" TYPE "CanalImportacion_new" USING ("canal"::text::"CanalImportacion_new");
ALTER TYPE "CanalImportacion" RENAME TO "CanalImportacion_old";
ALTER TYPE "CanalImportacion_new" RENAME TO "CanalImportacion";
DROP TYPE "CanalImportacion_old";
COMMIT;

-- AlterEnum
ALTER TYPE "EmpresaEstado" ADD VALUE 'DE_BAJA';

-- AlterEnum
ALTER TYPE "Rol" ADD VALUE 'IMPORTADOR';

-- DropForeignKey
ALTER TABLE "Cotizacion" DROP CONSTRAINT "Cotizacion_clienteId_fkey";

-- DropForeignKey
ALTER TABLE "Orden" DROP CONSTRAINT "Orden_cotizacionId_fkey";

-- DropForeignKey
ALTER TABLE "audit_logs" DROP CONSTRAINT "audit_logs_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "campuses" DROP CONSTRAINT "campuses_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "classrooms" DROP CONSTRAINT "classrooms_campus_id_fkey";

-- DropForeignKey
ALTER TABLE "classrooms" DROP CONSTRAINT "classrooms_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "courses" DROP CONSTRAINT "courses_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "credit_pricing" DROP CONSTRAINT "credit_pricing_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "enrollments" DROP CONSTRAINT "enrollments_course_id_fkey";

-- DropForeignKey
ALTER TABLE "enrollments" DROP CONSTRAINT "enrollments_student_id_fkey";

-- DropForeignKey
ALTER TABLE "enrollments" DROP CONSTRAINT "enrollments_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "ledger_accounts" DROP CONSTRAINT "ledger_accounts_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "ledger_entries" DROP CONSTRAINT "ledger_entries_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "ledger_entries" DROP CONSTRAINT "ledger_entries_transaction_id_fkey";

-- DropForeignKey
ALTER TABLE "ledger_lines" DROP CONSTRAINT "ledger_lines_account_id_fkey";

-- DropForeignKey
ALTER TABLE "ledger_lines" DROP CONSTRAINT "ledger_lines_entry_id_fkey";

-- DropForeignKey
ALTER TABLE "menu_options" DROP CONSTRAINT "menu_options_parent_id_fkey";

-- DropForeignKey
ALTER TABLE "payables" DROP CONSTRAINT "payables_professor_id_fkey";

-- DropForeignKey
ALTER TABLE "payables" DROP CONSTRAINT "payables_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "professor_attendance" DROP CONSTRAINT "professor_attendance_course_id_fkey";

-- DropForeignKey
ALTER TABLE "professor_attendance" DROP CONSTRAINT "professor_attendance_professor_id_fkey";

-- DropForeignKey
ALTER TABLE "professor_attendance" DROP CONSTRAINT "professor_attendance_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "professor_availabilities" DROP CONSTRAINT "professor_availabilities_professor_id_fkey";

-- DropForeignKey
ALTER TABLE "professor_availabilities" DROP CONSTRAINT "professor_availabilities_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "professors" DROP CONSTRAINT "professors_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "professors" DROP CONSTRAINT "professors_user_id_fkey";

-- DropForeignKey
ALTER TABLE "receivables" DROP CONSTRAINT "receivables_enrollment_id_fkey";

-- DropForeignKey
ALTER TABLE "receivables" DROP CONSTRAINT "receivables_student_id_fkey";

-- DropForeignKey
ALTER TABLE "receivables" DROP CONSTRAINT "receivables_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "role_menu_permissions" DROP CONSTRAINT "role_menu_permissions_menu_option_id_fkey";

-- DropForeignKey
ALTER TABLE "role_menu_permissions" DROP CONSTRAINT "role_menu_permissions_role_id_fkey";

-- DropForeignKey
ALTER TABLE "roles" DROP CONSTRAINT "roles_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "schedules" DROP CONSTRAINT "schedules_classroom_id_fkey";

-- DropForeignKey
ALTER TABLE "schedules" DROP CONSTRAINT "schedules_course_id_fkey";

-- DropForeignKey
ALTER TABLE "schedules" DROP CONSTRAINT "schedules_professor_id_fkey";

-- DropForeignKey
ALTER TABLE "schedules" DROP CONSTRAINT "schedules_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "schedules" DROP CONSTRAINT "schedules_time_slot_id_fkey";

-- DropForeignKey
ALTER TABLE "student_guardians" DROP CONSTRAINT "student_guardians_student_id_fkey";

-- DropForeignKey
ALTER TABLE "student_guardians" DROP CONSTRAINT "student_guardians_user_id_fkey";

-- DropForeignKey
ALTER TABLE "students" DROP CONSTRAINT "students_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "time_slots" DROP CONSTRAINT "time_slots_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "transactions" DROP CONSTRAINT "transactions_created_by_fkey";

-- DropForeignKey
ALTER TABLE "transactions" DROP CONSTRAINT "transactions_payable_id_fkey";

-- DropForeignKey
ALTER TABLE "transactions" DROP CONSTRAINT "transactions_receivable_id_fkey";

-- DropForeignKey
ALTER TABLE "transactions" DROP CONSTRAINT "transactions_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "users" DROP CONSTRAINT "users_role_id_fkey";

-- DropForeignKey
ALTER TABLE "users" DROP CONSTRAINT "users_tenant_id_fkey";

-- AlterTable
ALTER TABLE "Categoria" ADD COLUMN     "afectoIGV" BOOLEAN NOT NULL DEFAULT true;

-- AlterTable
ALTER TABLE "Cliente" ADD COLUMN     "celular" TEXT,
ADD COLUMN     "contactos" TEXT,
ADD COLUMN     "correo" TEXT,
ADD COLUMN     "direccionEntrega" TEXT,
ADD COLUMN     "direccionEntregaInt" TEXT,
ADD COLUMN     "direccionEntregaNro" TEXT,
ADD COLUMN     "direccionEntregaRef" TEXT,
ADD COLUMN     "direccionInt" TEXT,
ADD COLUMN     "direccionNro" TEXT,
ADD COLUMN     "direccionRef" TEXT,
ADD COLUMN     "giroNegocio" TEXT;

-- AlterTable
ALTER TABLE "Cotizacion" ADD COLUMN     "leadId" TEXT,
ADD COLUMN     "moneda" "Moneda" NOT NULL DEFAULT 'USD',
ADD COLUMN     "ordenId" TEXT,
ADD COLUMN     "pais" TEXT NOT NULL DEFAULT 'PER├Ü',
ALTER COLUMN "clienteId" DROP NOT NULL;

-- AlterTable
ALTER TABLE "CotizacionLinea" ADD COLUMN     "fechaDocumento" TIMESTAMP(3),
ADD COLUMN     "nroDocumento" TEXT,
ADD COLUMN     "tipoDocumento" TEXT;

-- AlterTable
ALTER TABLE "Empresa" ALTER COLUMN "ultimoNroCotizacion" SET NOT NULL,
ALTER COLUMN "ultimoNroOrden" SET NOT NULL,
ALTER COLUMN "ultimoNroCosteo" SET NOT NULL,
ALTER COLUMN "diaPagoSuscripcion" SET NOT NULL,
ALTER COLUMN "periodicidad" SET NOT NULL,
ALTER COLUMN "montoSuscripcion" SET NOT NULL,
ALTER COLUMN "diasPrueba" SET NOT NULL;

-- AlterTable
ALTER TABLE "Orden" ADD COLUMN     "nroContenedor" TEXT,
ADD COLUMN     "nroFacturaComercial" TEXT,
ADD COLUMN     "proveedorExtranjero" TEXT,
ADD COLUMN     "tipoCarga" TEXT,
ALTER COLUMN "cotizacionId" DROP NOT NULL;

-- AlterTable
ALTER TABLE "OrdenDocumento" ALTER COLUMN "updatedAt" DROP DEFAULT;

-- AlterTable
ALTER TABLE "TipoDocumento" ALTER COLUMN "updatedAt" DROP DEFAULT;

-- DropTable
DROP TABLE "audit_logs";

-- DropTable
DROP TABLE "campuses";

-- DropTable
DROP TABLE "classrooms";

-- DropTable
DROP TABLE "courses";

-- DropTable
DROP TABLE "credit_pricing";

-- DropTable
DROP TABLE "enrollments";

-- DropTable
DROP TABLE "ledger_accounts";

-- DropTable
DROP TABLE "ledger_entries";

-- DropTable
DROP TABLE "ledger_lines";

-- DropTable
DROP TABLE "menu_options";

-- DropTable
DROP TABLE "payables";

-- DropTable
DROP TABLE "professor_attendance";

-- DropTable
DROP TABLE "professor_availabilities";

-- DropTable
DROP TABLE "professors";

-- DropTable
DROP TABLE "receivables";

-- DropTable
DROP TABLE "role_menu_permissions";

-- DropTable
DROP TABLE "roles";

-- DropTable
DROP TABLE "schedules";

-- DropTable
DROP TABLE "student_guardians";

-- DropTable
DROP TABLE "students";

-- DropTable
DROP TABLE "tenants";

-- DropTable
DROP TABLE "time_slots";

-- DropTable
DROP TABLE "transactions";

-- DropTable
DROP TABLE "users";

-- CreateTable
CREATE TABLE "CosteoImportacion" (
    "id" TEXT NOT NULL,
    "codigo" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "clienteId" TEXT,
    "clienteNombre" TEXT,
    "clienteDocumento" TEXT,
    "ordenId" TEXT,
    "nroFacturaComercial" TEXT,
    "proveedorExtranjero" TEXT,
    "incoterm" "Incoterm" NOT NULL,
    "moneda" "Moneda" NOT NULL,
    "tipoCambio" DOUBLE PRECISION NOT NULL,
    "observaciones" TEXT,
    "totalFacturaComercial" DOUBLE PRECISION NOT NULL,
    "gastosOrigen" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "fleteInternacional" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "seguro" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "gastosLocales" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "adValoremGlobal" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "percepcionPorcentaje" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "fechaEmbarque" TIMESTAMP(3),
    "fechaLlegada" TIMESTAMP(3),
    "canal" "CanalImportacion",
    "modalidad" "ModalidadImportacion" NOT NULL DEFAULT 'AEREO',
    "nroDAM" TEXT,
    "tipoCarga" TEXT,
    "nroContenedor" TEXT,
    "cifGlobal" DOUBLE PRECISION NOT NULL,
    "baseImponible" DOUBLE PRECISION NOT NULL,
    "igv" DOUBLE PRECISION NOT NULL,
    "ipm" DOUBLE PRECISION NOT NULL,
    "percepcionMonto" DOUBLE PRECISION NOT NULL,
    "costoTotalImportacion" DOUBLE PRECISION NOT NULL,
    "ratioImportacion" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "estado" "CosteoEstado" NOT NULL DEFAULT 'BORRADOR',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CosteoImportacion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CosteoImportacionItem" (
    "id" TEXT NOT NULL,
    "costeoId" TEXT NOT NULL,
    "sku" TEXT,
    "producto" TEXT NOT NULL,
    "cantidad" DOUBLE PRECISION NOT NULL,
    "valorUnitario" DOUBLE PRECISION NOT NULL,
    "valorTotal" DOUBLE PRECISION NOT NULL,
    "adValoremPorcentaje" DOUBLE PRECISION,
    "participacionPorcentual" DOUBLE PRECISION NOT NULL,
    "cifOculto" DOUBLE PRECISION NOT NULL,
    "adValoremMonto" DOUBLE PRECISION NOT NULL,
    "fleteUnitario" DOUBLE PRECISION NOT NULL,
    "seguroUnitario" DOUBLE PRECISION NOT NULL,
    "gastosOrigenUnitario" DOUBLE PRECISION NOT NULL,
    "gastosLocalesUnitario" DOUBLE PRECISION NOT NULL,
    "costoTotalUnitario" DOUBLE PRECISION NOT NULL,
    "costoTotalSoles" DOUBLE PRECISION NOT NULL,
    "precioVentaPEN" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "descuentoPorcentaje" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "utilidadUnitarioPEN" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "utilidadTotalPEN" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "margenPorcentaje" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CosteoImportacionItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Lead" (
    "id" TEXT NOT NULL,
    "nombre" TEXT,
    "ruc" TEXT,
    "razonSocial" TEXT,
    "direccion" TEXT,
    "direccionNro" TEXT,
    "direccionInt" TEXT,
    "direccionRef" TEXT,
    "contacto" TEXT NOT NULL,
    "correo" TEXT,
    "celular" TEXT,
    "estado" "LeadEstado" NOT NULL DEFAULT 'NUEVO_CONTACTO',
    "empresaId" TEXT NOT NULL,
    "giroNegocio" TEXT,
    "contactos" TEXT,
    "estadoChangedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Lead_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CotizacionEstadoHistorial" (
    "id" TEXT NOT NULL,
    "cotizacionId" TEXT NOT NULL,
    "estado" "CotizacionEstado" NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "fechaHora" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CotizacionEstadoHistorial_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Cobro" (
    "id" TEXT NOT NULL,
    "ordenId" TEXT NOT NULL,
    "moneda" "Moneda" NOT NULL,
    "monto" DOUBLE PRECISION NOT NULL,
    "metodo" TEXT NOT NULL,
    "tipoDocumento" TEXT,
    "nroDocumento" TEXT,
    "fechaDocumento" TIMESTAMP(3),
    "lineasIds" TEXT[],
    "referencia" TEXT,
    "detallesLineas" TEXT,
    "tipoCambio" DOUBLE PRECISION NOT NULL DEFAULT 1,
    "banco" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Cobro_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GiroNegocio" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "GiroNegocio_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Banco" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Banco_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PagoSuscripcion" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "mes" INTEGER NOT NULL,
    "anio" INTEGER NOT NULL,
    "monto" DOUBLE PRECISION NOT NULL,
    "estadoPago" TEXT NOT NULL,
    "modalidad" TEXT,
    "referencia" TEXT,
    "banco" TEXT,
    "fechaPago" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PagoSuscripcion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Reclamacion" (
    "id" TEXT NOT NULL,
    "correlativo" INTEGER NOT NULL,
    "anio" INTEGER NOT NULL,
    "numeroReclamacion" TEXT NOT NULL,
    "nombres" TEXT NOT NULL,
    "apellidos" TEXT NOT NULL,
    "tipoDocumento" TEXT NOT NULL,
    "nroDocumento" TEXT NOT NULL,
    "domicilio" TEXT NOT NULL,
    "telefono" TEXT NOT NULL,
    "correo" TEXT NOT NULL,
    "representante" TEXT,
    "tipoBien" TEXT NOT NULL,
    "montoReclamado" DOUBLE PRECISION NOT NULL,
    "descripcionBien" TEXT NOT NULL,
    "tipoReclamacion" TEXT NOT NULL,
    "detalle" TEXT NOT NULL,
    "pedido" TEXT NOT NULL,
    "estado" TEXT NOT NULL DEFAULT 'PENDIENTE',
    "respuesta" TEXT,
    "fechaRespuesta" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Reclamacion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Plan" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "codigo" TEXT NOT NULL,
    "monto" DOUBLE PRECISION NOT NULL,
    "periodicidad" TEXT NOT NULL,
    "diasPrueba" INTEGER NOT NULL DEFAULT 14,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Plan_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "CosteoImportacion_ordenId_key" ON "CosteoImportacion"("ordenId");

-- CreateIndex
CREATE UNIQUE INDEX "CosteoImportacion_codigo_empresaId_key" ON "CosteoImportacion"("codigo", "empresaId");

-- CreateIndex
CREATE UNIQUE INDEX "GiroNegocio_nombre_empresaId_key" ON "GiroNegocio"("nombre", "empresaId");

-- CreateIndex
CREATE UNIQUE INDEX "Banco_nombre_empresaId_key" ON "Banco"("nombre", "empresaId");

-- CreateIndex
CREATE UNIQUE INDEX "PagoSuscripcion_empresaId_mes_anio_key" ON "PagoSuscripcion"("empresaId", "mes", "anio");

-- CreateIndex
CREATE UNIQUE INDEX "Reclamacion_numeroReclamacion_key" ON "Reclamacion"("numeroReclamacion");

-- CreateIndex
CREATE UNIQUE INDEX "Plan_codigo_key" ON "Plan"("codigo");

-- AddForeignKey
ALTER TABLE "CosteoImportacion" ADD CONSTRAINT "CosteoImportacion_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CosteoImportacion" ADD CONSTRAINT "CosteoImportacion_clienteId_fkey" FOREIGN KEY ("clienteId") REFERENCES "Cliente"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CosteoImportacion" ADD CONSTRAINT "CosteoImportacion_ordenId_fkey" FOREIGN KEY ("ordenId") REFERENCES "Orden"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CosteoImportacionItem" ADD CONSTRAINT "CosteoImportacionItem_costeoId_fkey" FOREIGN KEY ("costeoId") REFERENCES "CosteoImportacion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Lead" ADD CONSTRAINT "Lead_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cotizacion" ADD CONSTRAINT "Cotizacion_clienteId_fkey" FOREIGN KEY ("clienteId") REFERENCES "Cliente"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cotizacion" ADD CONSTRAINT "Cotizacion_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "Lead"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cotizacion" ADD CONSTRAINT "Cotizacion_ordenId_fkey" FOREIGN KEY ("ordenId") REFERENCES "Orden"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CotizacionEstadoHistorial" ADD CONSTRAINT "CotizacionEstadoHistorial_cotizacionId_fkey" FOREIGN KEY ("cotizacionId") REFERENCES "Cotizacion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CotizacionEstadoHistorial" ADD CONSTRAINT "CotizacionEstadoHistorial_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Orden" ADD CONSTRAINT "Orden_cotizacionId_fkey" FOREIGN KEY ("cotizacionId") REFERENCES "Cotizacion"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cobro" ADD CONSTRAINT "Cobro_ordenId_fkey" FOREIGN KEY ("ordenId") REFERENCES "Orden"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GiroNegocio" ADD CONSTRAINT "GiroNegocio_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Banco" ADD CONSTRAINT "Banco_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PagoSuscripcion" ADD CONSTRAINT "PagoSuscripcion_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

